<form action="/search" method="POST">
  <select id="cars" name="type">
    <option value="multi">All</option>
    <option value="movie">movie</option>
    <option value="tv">tv show</option>
    <option value="person">cast</option>
    <option value="keywords">Keyword</option>
    <option value="collection">collections</option>
    <option value="company">companies</option>
  </select>
  <input type="text" placeholder="Search" name="search" required />
  <button class="btn btn-primary" type="submit">
    Search
  </button>
</form>

<% if(user === undefined){ %>
<a href="user/signup" class="btn">Signup</a>
<a href="user/login" class="btn">Login</a>
<% }else{ %> <%= user.name %>
<a href="user/logout" class="btn">logout</a>
<% } %>

<div class="container" id="view">
  <% (JSON.parse(data)).results.forEach(movie => { %>
  <div class="card">
    <img
      src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %><%= movie.profile_path %> "
      alt=""
      width="150px"
    />
  </div>

  <div>
    <%= movie.original_title %><%= movie.name %>
  </div>
  <a href="/detail/<%= movie.id  %>" class="btn">detail</a>

  <% }); %>
</div>
