<%- include('../partials/messages') %> <%- include('../partials/navbar') %><%
detail=(JSON.parse(detail)) %> <% omdb=(JSON.parse(omdb)) %> <%
cast=(JSON.parse(cast)) %> <% recommended=(JSON.parse(recommended)) %><%
similar=(JSON.parse(similar)) %> <% videos=(JSON.parse(videos)) %>
<img
  src="https://image.tmdb.org/t/p/w500<%= detail.backdrop_path %> "
  class="bkdrop img-responsive"
  alt=""
/>
<main>
  <h1>
    <%= detail.name %>
    <span class="year">(<%= omdb.Year.slice(0,4) %>)</span>
  </h1>
  <div class="top">
    <div class="poster animated fadeInLeft delay-1s">
      <% if(detail.poster_path != null){ %>
      <img
        src="https://image.tmdb.org/t/p/w500<%= detail.poster_path %> "
        class="img-responsive"
        alt="iruda"
        height="450px"
      />
      <% } else{%>
      <img src="/img/poster.jpg" class="img-responsive" height="450px" />
      <% } %>
      <a href="/favlist/<%= detail.id  %>/<%= detail.name  %>/<%= detail.poster_path.split("/")[1]  %>/tv" class="favourite"><i class="fa fa-heart"></i>
      </a>
    </div>
    <div class="content animated fadeInRight delay-1s">
      <div>
        <span class="certification"> <%= omdb.Rated %> </span>
        <span> <%= omdb.Genre %> </span>
        <span>
          <i class="fa fa-clock-o"></i> <%= detail.episode_run_time %> m</span
        >
      </div>
      <div>
        <span>
          IMDB <%= omdb.imdbRating %>
          <i class="fa fa-star" style="color: gold;"></i>
        </span>
        <span
          >Metascore
          <span class="bg-success meta"> <%= omdb.Metascore %> </span>
        </span>
      </div>
      <div>
        <a href="/watchlist/<%= detail.id  %>/<%= detail.name  %>/<%= detail.poster_path.split("/")[1]  %>/tv " class="btn adder">
          Watchlist <i class="fa fa-plus"></i>
        </a>
        <a href="/watchedlist/<%= detail.id  %>/<%= detail.name  %>/<%= detail.poster_path.split("/")[1]  %>/tv " class="btn adder">
          Watched <i class="fa fa-eye"></i>
        </a>
        <a
        href="https://www.youtube.com/watch?v=<%=videos.results[videos.results.length-1].key  %> "
        target="_blank"
        class="btn youtube"
      >
        Watch trailer <i class="fa fa-youtube-play"></i>
      </a>
      </div>
      <p>
        <strong>Seasons : </strong>&quot;<%= detail.number_of_seasons %>&quot;
        <strong> No.of Episodes : </strong>&quot;<%= detail.number_of_episodes %>&quot;
      </p>
      <p><strong>Overview : </strong><%= detail.overview %></p>
      <div class="row">
        <% if (detail.production_companies!="") {%>
        <div>
          <h4>Production:</h4>
          <% detail.production_companies.forEach(company =>{ %> <% if
          (company.logo_path!=null){ %>
          <img
            src="https://image.tmdb.org/t/p/w500<%= company.logo_path %> "
            class="prod"
            alt=""
            height="40px"
          />
          <% } %> <% } )%>
        </div>
        <% } %> <% if (detail.networks!="") {%>
        <div style="margin-left: 50px;">
          <h4>Network:</h4>
          <% detail.networks.forEach(company =>{ %> <% if
          (company.logo_path!=null){ %>
          <img
            src="https://image.tmdb.org/t/p/w500<%= company.logo_path %> "
            class="prod"
            alt=""
            height="40px"
          />
          <% } %> <% })%>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</main>
<section class="popular cast animated fadeInUp delay-2s">
  <h3>Cast </h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% cast.cast.forEach(cast => { %>
      <a href="/detail/person/<%= cast.id %>">
        <div class="swiper-slide detail">
          <div class="movies">
            <% if(cast.profile_path!=null){ %>
            <img
              src="https://image.tmdb.org/t/p/w500<%= cast.profile_path %>"
              alt=""
              width="150px"
            />
            <% }else{ %>
              <img
              src="/img/poster.jpg"
              alt=""
              width="150px"
            />
            <% } %>
            <p>&quot;<%= cast.name %>&quot;</p>
            <div class="name"><%= cast.character %></div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</section>
<% if (similar.total_results!=0){ %>
<section class="similar animated fadeInUp delay-3s">
  <h3>Similar TV Shows</h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% similar.results.forEach( movie =>{ %> <% if ( movie.backdrop_path!=null
      ) {%>
      <a href="<%= movie.id %> ">
        <div class="swiper-slide movie">
          <div class="movies">
            <% if(movie.backdrop_path!=null){ %>
            <img
              src="https://image.tmdb.org/t/p/w500<%= movie.backdrop_path %>"
              alt=""
              width="400px"
            />
            <% }else{ %>
              <img
              src="/img/Backdrop.jpg"
              alt=""
              width="400px"
            />
              <% } %>
            <p>
              <%= movie.name %>
            </p>
            <div class="desc">
              <%= movie.overview %>
            </div>
          </div>
        </div>
      </a>
      <% } %> <% }) %>
    </div>
  </div>
</section>
<% } %> <% if (recommended.total_results!=0){ %>
<section class="recommend animated fadeInUp delay-4s">
  <h3>Recommended TV Shows</h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% recommended.results.forEach( movie =>{ %>
      <a href="<%= movie.id %> ">
        <div class="swiper-slide movie">
          <div class="movies">
            <% if(movie.backdrop_path!=null){ %>
            <img
              src="https://image.tmdb.org/t/p/w500<%= movie.backdrop_path %>"
              alt=""
              width="400px"
            />
            <% }else{ %>
              <img
              src="/img/Backdrop.jpg"
              alt=""
              width="400px"
            />
              <% } %>
            <p>
              <%= movie.name %>
            </p>
            <div class="desc">
              <%= movie.overview %>
            </div>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</section>
<% } %> <%- include('../partials/footer') %>
