<%- include('../partials/navbar') %> <% detail=(JSON.parse(detail)) %> <%
credits=(JSON.parse(credits)) %>
<main>
  <h1>
    <%= detail.name %>
    <span class="year">(<%= detail.known_for_department %>)</span>
  </h1>
  <div class="top">
    <div class="poster animated fadeInLeft delay-1s">
      <% if(detail.profile_path != null){ %>
      <img
        src="https://image.tmdb.org/t/p/w500<%= detail.profile_path %> "
        class="img-responsive"
        alt="iruda"
        height="450px"
      />
      <% } else{%>
      <img
        src="img/poster.jpg"
        class="img-responsive"
        alt="iruda"
        height="450px"
      />
      <% } %>
    </div>
    <div class="content animated fadeInRight delay-1s">
      <p><strong>Biography : </strong><%= detail.biography %></p>
      <% if(detail.birthday!=null){ %>
      <p>
        <strong>Born:</strong> <%= detail.birthday %> in <%=
        detail.place_of_birth %>
      </p>
      <% } %> <% if(detail.deathday!=null){ %>
      <p><strong>Dead</strong> <%= detail.deathday %></p>
      <% } %>
    </div>
  </div>
</main>
<h2 class="popular">Known For</h2>

<main class="search">
  <% credits.cast.forEach(credits =>{ %>

  <a href="/detail/<%= credits.media_type %>/<%= credits.id %>  ">
    <div class="zoom">
      <% if((credits.backdrop_path != null) ){%>
      <img src="https://image.tmdb.org/t/p/w500<%= credits.backdrop_path %>" />
      <% }else if (credits.poster_path != null){ %>
      <img src="https://image.tmdb.org/t/p/w500<%= credits.poster_path %>" />
      <% }else if (credits.profile_path != null){ %>
      <img src="https://image.tmdb.org/t/p/w500<%= credits.profile_path %>" />
      <% }else { %>
      <img src="/img/Backdrop.jpg" />
      <% } %>
      <div>
        <div class="search-desc">
          <h6><%= credits.title %><%= credits.name %></h6>
          <p><%= credits.overview %></p>
        </div>
      </div>
    </div>
  </a>
  <% }); %>
</main>
<%- include('../partials/footer') %>
